.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.product-card {
    border: 1px solid rgb(158, 7, 7);
    border-radius: 8px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-content {
    padding: 16px;
}

.browse {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.6;
    color: #333333;
    text-align: center;

}